body {
    background-color: #f0f0f0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #fff;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    max-width: 700px;
}

h1 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 60%;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 9px 12px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

#addTask {
    padding: 10px 11px;
    font-size: 14px;
    background-color: #002ce3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#removeTask {
    padding: 10px 11px;
    font-size: 14px;
    background-color: #fff;
    color: #002ce3;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 14px;
    background-color: #f6f6f6;
}

li .actions {
    display: flex;
    align-items: center;
}

.edit {
    background-color: #002ce3;
    color: #fff;
    border: 1px solid #002ce3;
    margin-left: 5px;
    font-weight: 600;
    font-size: 12px;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 3px;
}

.delete {
    background-color: transparent;
    color: #002ce3;
    border: 1px solid #002ce3;
    margin-left: 5px;
    font-weight: 600;
    font-size: 12px;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 3px;
}

